@import url("https://fonts.googleapis.com/css?family=Inter:400");

li{
	margin-bottom: 1%;
}

table{
	width: 100%;
	}

td{
    padding: 2%;
}

textarea {
    box-sizing: border-box;
    resize: none;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
}

.col1{
	width:50%;
}

.col2{
	width:50%;
}

.displayregion{
	position: relative;
    background-color: #EAFCFF;
    width: calc(100%-200px);
    height: 100%;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
    box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.5);
    overflow:auto;
}

.titlefield{
	width: 100%;
	background-color: #EAFCFF;
	border-right: none;
	border-left: none;
	border-top: none;
	border-color: black;
}

.descfield{
	height: 350px;
	width: 100%;
	text-align: top;
	resize: none;
	padding: 5px;
}

.addButton{
	border-radius: 25px;
	padding-bottom: 1%;
	padding-top: 1%;
	padding-right: 2%;
	padding-left: 2%;
	background-color: #FF7A70;
}
.addButton:hover{
	background-color: #D14358;
    cursor: pointer;
}
.addButton:active{
	background-color: #BF3045;
}

.submitButton:hover{
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	background-color: #D14358;
    cursor: pointer;
}
.submitButton:active{
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
	background-color: #BF3045;
}

.indent{
	width: 1%;
	vertical-align:top;
}

.info{
	width: 100%;
}

.label{
	margin-top: 2%;
}

.deleteIcons{
	vertical-align: top;
	width: 1%;
}

.ingField{
	margin-bottom: 2%;
	width:100%;
	text-align: top;
	resize: none;
	padding:3px;
}

.dirField{
	margin-bottom: 2%;
	width:100%;
	text-align: top;
	resize: none;
	padding:3px;
}

.tagField{
	width:100%;
	margin-bottom: 2%;
}

.privateBox{
	margin-top:2%;
	margin-left: 2%;
}

.numbered {
  counter-reset: rowNumber;
}

.numbered tr::before {
  display: table-cell;
  counter-increment: rowNumber;
  content: counter(rowNumber) ".";
  padding-top: 2.5%;
}

.colorpicker{
	width: 22px;
	height: 22px;
	border-radius: 100%;
	float: right;
}

.tag{
	border-radius: 15px;
	border: solid;
	border-width: 1px;
	display: inline-block;
	vertical-align:top;
	padding: 5px;
}
