@import url("https://fonts.googleapis.com/css?family=Inter:400");

html {background-color: #93B7BE}

img{
	max-width: 100%;
	height:auto;
}

.loginbuttonfield{
    display: block;
    margin-left: auto;
	margin-right: auto;
    height: 60px;
    width: 370px;
    background-color: #FF7A70;
    border-radius: 10px;
    font-size: 36px;
    margin-top: 4%;
    margin-bottom: 6%;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.registerbuttonfield{
    display: block;
	margin-left: auto;
	margin-right: auto;
    height: 60px;
    width: 370px;
    background-color: #FF7A70;
    border-radius: 10px;
    font-size: 36px;
    margin-top: 20px;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}


.loginBoxfield{
	position: relative;
    background-color: #EAFCFF;
    border: 1px solid;
    border-color: black;
    border-radius: 21px;
    height: 466px;
    width: 518px;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

.titlefield{
    display: flex;
    flex-direction: column;
    font-size: 36px;
    min-width: 122px;
    text-align: center;
    margin-top: 4%;
}

.inputfield{
	height: 60px;
	width: 370px;
	background-color: #F7F7F7;
	border-radius: 5px;
	margin-top: 0px;
	margin-bottom: 15px;
	display: flex;
    	flex-direction: column;
	justify-content: center;
	font-size: 36px;
	margin-right: auto;
	margin-left: auto;
}

.drop-backgroundimg{
    position: relative;
    bottom: 0px;
    margin-right: auto;
    margin-left: auto;
}

.error{
	color: red;
	justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.buffer{
	position: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.recoverLink{
	color: blue;
		justify-content: center;
    margin-right: auto;
    margin-left: auto;
    border: none;
  background-color: inherit;
  font-size: 16px;
}
