table {
    border-collapse: collapse;
  }

.displayregion{
	position: relative;
    background-color: #EAFCFF;
    width: calc(100%-200px);
    height: 100%;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
    box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.5);
}

.defaultMsg{
	text-align: center;
	font-size: x-large;
	margin-top: 5%;
	margin-bottom: 5%;
    padding: 2%;
    display: none;
    visibility: hidden;
}

.recipeBox{
    border-bottom: 2px solid black;
    padding: 10px;
}

.recipeTitle:hover{
    text-decoration: underline;
    cursor: pointer;
}

.recipeTitle{
    font-size: xx-large;
    margin-left:1%;
    margin-top:0.5%;
    width:auto;
}

.recipeDescription{
    font-size: large;
    margin:1%;
}

.recipeTags{
    font-size: small;
}

.nextButton{
    float: right;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: none;
    visibility: hidden;
}

.previousButton{
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: none;
    visibility: hidden;
}

.editButton{
    float: right;
    margin-top: 1%;
    margin-right: 1%;
    border-radius: 25px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	background-color: #FF7A70;
	margin-bottom: 3px;
}
.editButton:hover{
	background-color: #D14358;
    cursor: pointer;
}
.editButton:active{
	background-color: #BF3045;
}

.deleteButton{
    float: right;
    margin-top: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    border-radius: 25px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	background-color: #FF7A70;
	margin-bottom: 3px;
}
.deleteButton:hover{
	background-color: #D14358;
    cursor: pointer;
}
.deleteButton:active{
	background-color: #BF3045;
}

.listTable{
    padding: 5px;
}

.recipesTitle{
    font-size: xx-large;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
