@import url("https://fonts.googleapis.com/css?family=Inter:400");
img{
	max-width: 100%;
	height:auto;
}

.drop-backgroundimg{
    position: relative;
    bottom: 0px;
    margin-right: auto;
    margin-left: auto;
}

.recoverField{
    position: relative;
    background-color: #EAFCFF;
    border: 1px solid;
    border-color: black;
    border-radius: 21px;
    height: auto;
    width: 75%;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

.submitButton{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 370px;
    background-color: #FF7A70;
    border-radius: 10px;
    font-size: 36px;
    margin-bottom: 3%;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.returnButton{
    display: block;
    margin-left: 5%;
    margin-bottom: 2%; 
    height: 60px;
    width: 370px;
    background-color: #FF7A70;
    border-radius: 10px;
    font-size: 36px;
    justify-content: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.returnButton:hover{
    background-color: #D14358;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.returnButton:active{
    background-color: #BF3045;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
}

.innerText{
	font-size: 20px;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.codeDiv{
	display: none;
	visibility: hidden;
}

.error{
	color: red;
	justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buffer{
	position: block;
    width: 370px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    text-align: center;
}