@import url("https://fonts.googleapis.com/css?family=Inter:400");

html {background-color: #93B7BE}

img{
	max-width: 100%;
	height:auto;
}

.registerbutton{
	display: block;
	margin-left: auto;
	margin-right: auto;
    height: 60px;
    width: 370px;
    background-color: #FF7A70;
    border-radius: 10px;
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 2%;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.loginbutton{
	display: block;
	margin-left: auto;
	margin-right: auto;
    height: 60px;
    width: 370px;
    background-color: #FF7A70;
    border-radius: 10px;
    font-size: 36px;
    margin-top: 15px;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}


.registerBox{
	position: relative;
    padding: 10px 0px;
    background-color: #EAFCFF;
    border: 1px solid;
    border-color: black;
    border-radius: 21px;
    height: 566px;
    width: 518px;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

.title{
    display: flex;
    flex-direction: column;
    font-size: 36px;
    min-width: 122px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}

.sub-title{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    min-width: 122px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}

.input{
	height: 30px;
	width: 370px;
	background-color: #F7F7F7;
	border-radius: 5px;
	margin-top: 0px;
	margin-bottom: 10px;
	display: flex;
    flex-direction: column;
	justify-content: center;
	font-size: 18px;
	margin-right: auto;
	margin-left: auto;
}

.error{
	color: red;
	justify-content: center;
}

.buffer{
    margin-left: 10px;
    margin-right: 10px;
}