.displayregion{
	position: relative;
    background-color: #EAFCFF;
    width: calc(100%-200px);
    height: 100%;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-between;
    box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.5)
}

.pageheader {
    text-align: center;
    background-color: #EAFCFF;
    border-right: none;
    border-left: none;
    border-top: none;
    font-size: 36px;
    border-radius: 2px;
    border-color: black;
    margin-top: 0.5%;
}

.changeinfo {
    display: block;
    width: 370px;
    justify-self: center;
    justify-content: center;
    font-size: 18px;
    margin: auto;
    margin-bottom: 0.5%;
}

.inputbox {
	height: 25px;
	width: 370px;
	background-color: #F7F7F7;
	border-radius: 5px;
	margin-top: 0px;
	margin-bottom: 10px;
	display: flex;
    flex-direction: column;
	justify-content: center;
	font-size: 16px;
	margin-right: auto;
	margin-left: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.infotext {
    margin-top: 0%;
    margin-bottom: 0.5%;

}

hr {
    display: block;
    clear: both;
    width: 96%;
    color: #000000;
    height: 1px;
}

#line {
    float: left;
    width: 100%;
    height: 10px;
    margin-bottom: 1%;
}

.savebutton{
	display: block;
	margin-left: auto;
	margin-right: auto;
    height: 40px;
    width: 270px;
    background-color: #FF7A70;
    border-radius: 10px;
    font-size: 22px;
    margin-top: 15px;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.savebutton:hover{
    background-color: #D14358;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.savebutton:active{
    background-color: #BF3045;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
}