@import url("https://fonts.googleapis.com/css?family=Inter:400");

.main-container {
    background-image: url("/public/backgroundimage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    overflow-y: scroll;
}

img {
	max-width: 100%;
	height:auto;
}

.header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 36px;
    min-width: 122px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
    font-weight: 800;
}

.mailIcon {
    display: flex;
    position: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    max-width: 8%;
}

.text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    font-size: 22px;
    position: center;
}

.smalltext {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 15px;
    position: center;
}

.input{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
	height: 30px;
	width: 370px;
	background-color: #F7F7F7;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	display: flex;
    flex-direction: column;
	justify-content: center;
	font-size: 18px;
	margin-right: auto;
	margin-left: auto;
}



.verifybutton{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
	display: block;
	margin-left: auto;
	margin-right: auto;
    height: 30px;
    width: 170px;
    background-color: #FF7A70;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 5px;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.verifybutton:hover{
    background-color: #D14358;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.verifybutton:active{
    background-color: #BF3045;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
}



.resendbutton{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
	display: block;
	margin-left: auto;
	margin-right: auto;
    height: 25px;
    width: 170px;
    background-color: #FF7A70;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 0px;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.resendbutton:hover{
    background-color: #D14358;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.resendbutton:active{
    background-color: #BF3045;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
}