body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  background-image: url("/public/bg-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: '88%';
  height: '100%';
  text-align: center;
  vertical-align: center;
  align-self: center;

}

.centered{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.child{
  width: 300px;
  padding: 10px 15px;
  margin: 30px 0;
}